<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">      
      <div class="footer-col footer-col-1">
        <ul class="contact-list cn">
          <li><a href="/assets/assets/D90B14A1A8F53F7668E030C7AC344D7007CF5995.asc.txt">pgp key</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list cn">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <ul class="contact-list cn">
         <li><a href="https://creativecommons.org/licenses/by-nc/4.0/"><img class="cc" src="/assets/Creative-Commons-License.png" alt="The Creative Commons License" /></a></li>
          <li><div class="cn" >copyright © 2014 - 2021 Source Incite</div></li>
        </ul>
      </div>
      <div style="text-align:center"><p><a href="http://validator.w3.org/check?uri=referer" onclick="this.href='http://validator.w3.org/check?uri=' + 
document.URL"><img src="/assets/images/valid-html40.png" alt="W3C Compliant" /></a></p><p>The content of this site is licensed under a <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-Non‑Commercial 4.0 International License.</a></p></div>
    </div>
  </div>
</footer>
